/* Error: The target selector was not found.
 * Use "@extend %u-decoration !optional" to avoid this error.
 *    ,
 * 34 |           @extend %u-decoration;
 *    |           ^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   scss\_article.scss 34:11  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: The target selector was not found.\aUse "@extend %u-decoration !optional" to avoid this error.\a    \2577 \a 34 \2502            @extend %u-decoration;\d\a    \2502            ^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   scss\\_article.scss 34:11  root stylesheet';
}
